<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proyecto Integrador</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="alta.html" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="nosotros.html" class="nav-bar__nav-link">Nosotros</a>
        </li>
      </ul>
    </nav> <!-- nav-bar -->

  </header>

  <main>
    <h1 class="titulo"> ¿Quienes somos? </h1>

    <div class="us">

      <div class="us__mision">
        <figure class="us__fig"> <img class="us__img" src="/img/mision.jpg" alt="mision">
          <figcaption class="us__figc"> Mision </figcaption>
        </figure>
        <div class="us__contenido">
          <h2 class="us__h2">Mision </h2>
          <p class="us__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi officia vel repudiandae odit
            ea iure, non reprehenderit odio commodi incidunt. Libero debitis asperiores fuga inventore consectetur
            soluta, porro adipisci dolorem.</p>
        </div> <!-- FIN CONTENIDO MISION -->
      </div> <!-- FIN MISION -->

      <div class="us__vision">
        <figure class="us__fig"> <img class="us__img" src="/img/vision.jpg" alt="vision">
          <figcaption class="us__figc"> Vision </figcaption>
        </figure>
        <div class="us__contenido">
          <h2 class="us__h2">Vision </h2>
          <p class="us__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi officia vel repudiandae odit
            ea iure, non reprehenderit odio commodi incidunt. Libero debitis asperiores fuga inventore consectetur
            soluta, porro adipisci dolorem.</p>
        </div> <!-- FIN CONTENIDO VISION -->
      </div> <!-- FIN VISION -->

      <div class="us__valores">
        <figure class="us__fig"> <img class="us__img" src="/img/valores.jpg" alt="valores">
          <figcaption class="us__figc"> Valores </figcaption>
        </figure>

        <div class="us__contenido">
          <h2 class="us__h2">Valores </h2>
          <p class="us__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi officia vel repudiandae
            odit
            ea iure, non reprehenderit odio commodi incidunt. Libero debitis asperiores fuga inventore consectetur
            soluta, porro adipisci dolorem.</p>
        </div> <!-- FIN CONTENIDO VALORES -->
      </div> <!-- FIN VALORES -->



    </div>

  </main> <!-- main -->

  <footer class="main-footer">


    <div class="search-bar"> <!-- search-bar -->
      <div class="search-bar__logo-container"><img src="/img/logo.png" alt=""></div>
      <form action="" class="search-bar__form-container">
        <label for="busqueda" class="search-bar__form-label">Buscar</label>
        <input type="search" class="search-bar__form-search" id="busqueda">
        <input type="submit" value="Buscar" class="search-bar__form-submit">
      </form>
      <div class="search-bar__carrito-container">C</div>
      <div class="menu-toggle">
        <label for="menu" class="menu-toggle__label">
          <span class="menu-toggle__top-bread"></span>
          <span class="menu-toggle__meat"></span>
          <span class="menu-toggle__bottom-bread"></span>
        </label>
      </div>
    </div> <!-- search-bar -->

    <nav class="nav-foot"> <!-- nav-foot -->
      <ul class="nav-foot__nav-list">
        <li class="nav-foot__nav-item">
          <a href="/index.html" class="nav-foot__nav-link">Inicio</a>
        </li>
        <li class="nav-foot__nav-item">
          <a href="alta.html" class="nav-foot__nav-link">Alta</a>
        </li>
        <li class="nav-foot__nav-item">
          <a href="contacto.html" class="nav-foot__nav-link">Contacto</a>
        </li>
        <li class="nav-foot__nav-item">
          <a href="nosotros.html" class="nav-foot__nav-link">Nosotros</a>
        </li>
      </ul>
    </nav> <!-- nav-foot -->

    <p class="main-footer__p"> Todos los derechos reservados para Cony INC. </p>

  </footer>


  <script type="module" src="/main.js"></script>
</body>

</html>